spring:
  application:
    name: resqfood

  session:
    store-type: none
    jdbc:
      initialize-schema: always

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
  sql:
    init:
      mode: never
      schema-locations:
      - classpath:schema.sql
      continue-on-error: true