server:
  port: 8080

spring:
  application:
    name: resqfood

  session:
    store-type: none
    jdbc:
      initialize-schema: always
      table-name: resqfood.SPRING_SESSION

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  profiles:
    active:
    - dev
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}